#container {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  contain: layout;
  will-change: transform;
}

.invisible {
  display: none;
}

#templates {
  display: none;
}

.news_list_row {
  width: 100%;
  background: rgb(248, 248, 248);
}

section.outer {
  position: absolute;
  width: 100%;
  background-color: rgb(248, 248, 248);
}

.ls_f {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: .22rem .2rem;
  background: rgb(248, 248, 248);
}

.ls_f_b {
  padding-left: 2.4rem;
}

.ls_f_e_l {
  left: 2.4rem;
}

.m_video_box {
  width: 100%;
  margin: 0;
  padding: 0 .2rem .2rem
}